body{
    font-family: 'Inter', sans-serif;
}

h1{
    font-weight: 600;
    font-size: 24px;
}

h2{
    font-size: 14px;
    max-width: 300px;
}

h3{
    font-size: 24px;
    size: 40%;
}

p{
    font-weight: 300;
    font-size: 12px;
    max-width: 300px;
}

header{
    background-color: aquamarine;
    padding: 30px;
    padding-left: 9%;
    padding-right: 9%;
}

.navigation{
    background-color: rgb(161, 213, 178);
    display: inline-block;
    padding: 10px;
    text-align: center;
    float: right;
}

.heroImg{
    background-color: antiquewhite;
    padding-left: 9%;
    padding-right: 9%;
    margin-top: 120px;
    margin-bottom: 120px;
    overflow: auto;
}

.content{
    width: 50%;
    background-color: rgb(255, 193, 117);
    padding-top: 48px;
    padding-bottom: 48px;
    display: inline-block;
    flex-direction: row;
    float: left;

}

.portrait img{
    float: right;
}

.navItem{
    display: inline-block;
    list-style: none;
    padding: 20px;
    text-align: center;
    background-color: antiquewhite;
}

.arrow img{
    background-color: aqua;
    width: 30px;
    text-align: center;
}

.arrow{
    text-align: center;
}

.projectHomepage{
    background-color: rgb(255, 175, 175);
    display: inline-block;
    width: 82%;
    margin-top: 120px;
    margin-bottom: 120px;
    padding-left: 9%;
    padding-right: 9%;
    flex-direction: column;
}

.projectHomepage img{
    border-radius: 4%;
}

.row1{
    width: 100%;
    height: 300px;
}

.row2{
    width: 100%;
    height: 300px;
    display: inline-block;
}


.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

footer{
    padding: 140px;
    background-color: black;
    color: white;
    display: grid;
    grid-gap: 50px;
    ;
}

.mailText .linkedinText .behanceText .phoneText{
    display: inline-block;
}

.footerText{
    font-size: 25px;
    text-align: center;
    float: left;
    padding: 20px;
    margin-top: 0px;
}

.footerRight{
    padding-left: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
}

.mailTextP{
    display: inline-block;
    grid-row: 1/2;
    grid-column: 1/2;
}

.mailTextImg{
    margin-bottom: -5px;
    grid-row: 2/3;
    grid-column: 1/2;
}

.linkedinTextP{
    display: inline-block;
    grid-row: 1/2;
    grid-column: 2/3;
}

.linkedinTextImg{
    margin-bottom: -5px;
    grid-row: 2/3;
    grid-column: 2/3;
}

.behanceTextP{
    display: inline-block;
    grid-row: 1/2;
    grid-column: 3/4;
}

.behanceTextImg{
    margin-bottom: -5px;
    grid-row: 4/5;
    grid-column: 2/3;
}

.phoneTextP{
    display: inline-block;
    grid-row: 1/2;
    grid-column: 5/6;
}

.phoneTextImg{
    margin-bottom: -5px;
    grid-row: 5/6;
    grid-column: 2/3;
}